# Abaikan folder git
.git
.gitignore

# Abaikan folder data database
docker-compose/
docker-compose/mysql/

# Abaikan folder dependensi lokal
vendor/
node_modules/
public/build/

# Abaikan file environment lokal
.env
